# IDE metadata
.idea/
*.iml

# LaTeX build products
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc

# Generated PDFs
src/main.pdf

# Build/output directories
out/
